body {
  align-content: center;
  font-family: 'Montserrat', sans-serif;

}


.header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 30px; 
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 0px;
  font-size: 50px; 
}

p {
  margin-top: 6px;
}

.container {
  display: flex;
  width: 342px;
  height: 342px;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 25px; 
  border-color: #848484;


}

.square {
  width: 110px;
  height: 110px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 140px;
  background-color: #D8D8D8;
}

.square:hover {
    background-color: #BDBDBD;
}

#clearbutton {
  margin: 0 auto; 
  text-align: center;
  border-color: #848484;
}


a:link {
    color: black;
}


a:visited {
    color: black;
}


a:hover {
    color: black;
}


a:active {
  color: black;
}